@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for camera carousel */
.scrollbar-hide {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.scrollbar-desktop {
  scrollbar-width: thin;
  scrollbar-color: #4b5563 transparent; /* thumb color and track color */
}
.scrollbar-desktop::-webkit-scrollbar {
  width: 8px;
}
.scrollbar-desktop::-webkit-scrollbar-track {
  background: transparent;
}
